.c-alert-root {
  position: fixed;
  right: 40px;
  top: 100px;
  z-index: 9998;
}
.c-alert-content {
  height: 44px;
  background: #f0f4f7;
  display: flex;
  align-items: center;
  border: none;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.c-alert-content button {
  width: 20px;
  height: 20px;
  padding: 11px 15px !important;
}
.c-alert-success-title {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #191f25;
  font-weight: 600;
  padding: 0px 20px;
  border-right: 2px solid #00d58b;
  margin-right: 20px;
}
.c-alert-error-title {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #191f25;
  font-weight: 600;
  padding: 0px 20px;
  border-right: 2px solid #e75c22;
  margin-right: 20px;
}
.c-alert-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #697671;
  margin-right: 35px;
}
.c-alert-close {
  position: absolute;
  right: 20px;
  color: #777777;
  cursor: pointer;
}
.c-alert-close:hover {
  color: black;
}
.c-alert-texture {
  position: absolute;
  right: 0px;
}
