.c-footer {
  background-color: #202f39;
  padding: 130px 0px 120px 0px;
  color: white;
  font-size: 15px;
}

.c-aboutus-btn {
  border-radius: 35px;
  border-color: rgb(10, 204, 149);
  color: rgb(10, 204, 149);
  background-color: transparent;
  line-height: 38px;
  font-weight: 700;
  height: 40px;
  padding: 0 26px;
  font-size: 15px;
}

.c-aboutus-btn:hover {
  background-color: rgb(10, 204, 149);
  border: 1px solid transparent;
}

.c-footer-title {
  display: block;
  margin-bottom: 35px;
  padding: 0;
  text-transform: capitalize;
  line-height: 22px;
  font-size: 19px;
  font-weight: 700;
}

.c-bottom-item {
  line-height: 1.7;
}

.c-bottom-item i {
  color: #18d685;
  margin-right: 0.55em;
  width: 16px;
  font-size: 16px;
  text-align: center;
}

.c-footer-link {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.c-footer-link:hover {
  color: rgb(10, 204, 149);
}

.c-footer-subscribe {
  display: inline-block;
  border-radius: 32px;
  background: linear-gradient(to left, rgb(4, 221, 138), rgb(18, 178, 165));
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  height: 40px !important;
  line-height: 38px !important;
  padding: 0px 70px;
  width: 100%;
  text-align: center;
}

.c-footer-subscribe:hover {
  color: rgb(255, 255, 255);
}

.c-footer-input {
  background: #2e3b45;
  border: 1px solid #5c676f;
  color: #c2cec9 !important;
  height: 40px !important;
  line-height: 38px !important;
  padding: 0 25px !important;
  font-size: 13px;
  text-align: center;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  outline: none;
  border-radius: 32px;
}

.c-color-green {
  color: rgb(10, 204, 149);
}

.c-encrypted-text {
  display: inline-block;
  font-size: 12px;
  color: #949ca1;
  line-height: 18px;
}
