.c-footer {
  background-color: #12222f;
  padding: 130px 0px 120px 0px;
  color: #7599a2;
  font-size: 15px;
}

.c-aboutus-btn {
  border-radius: 35px;
  border-color: rgb(10, 204, 149);
  color: rgb(10, 204, 149);
  background-color: transparent;
  line-height: 38px;
  font-weight: 700;
  height: 40px;
  padding: 0 26px;
  font-size: 15px;
}

.c-aboutus-btn:hover {
  background-color: rgb(10, 204, 149);
  border: 1px solid transparent;
}

.c-footer-title {
  display: block;
  margin-bottom: 35px;
  padding: 0;
  text-transform: capitalize;
  line-height: 22px;
  font-size: 19px;
  font-weight: 700;
  color: white;
}

.c-bottom-item {
  line-height: 1.7;
  display: flex;
  align-items: flex-start;
}

.c-bottom-item i {
  color: #0df0a3;
  width: 16px;
  font-size: 16px;
  text-align: center;
}

.c-bottom-item a:hover {
  color: #0df0a3;
}

.c-footer-link a {
  font-size: 14px;
  cursor: pointer;
  color: #7599a2;
}

.c-footer-link a:hover {
  color: rgb(10, 204, 149);
}

.c-footer-subscribe {
  display: inline-block;
  border-radius: 32px;
  background: linear-gradient(to left, rgb(4, 221, 138), rgb(18, 178, 165));
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  height: 40px !important;
  line-height: 40px !important;
  padding: 0px 70px;
  width: 100%;
  text-align: center;
}

.c-footer-subscribe:hover {
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, rgb(4, 221, 138), rgb(18, 178, 165));
}

.c-footer-input {
  /* background: #2e3b45; */
  border: 1px solid #0df0a3;
  color: #c2cec9 !important;
  height: 40px !important;
  line-height: 38px !important;
  padding: 0 25px !important;
  font-size: 13px;
  text-align: center;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  outline: none;
  border-radius: 32px;
}

.c-color-green {
  color: rgb(10, 204, 149);
}

.c-encrypted-text {
  display: inline-block;
  font-size: 12px;
  color: #949ca1;
  line-height: 18px;
}

.c-footer-contact-stick {
  width: 0.95px;
  height: 11px;
  background-color: #7599a2;
  margin: 7px 10px;
  opacity: 0.3;
}

.c-footer-contact-title {
  font-weight: 600;
}

.c-footer-contact-mail {
  width: 10px;
}

.c-footer-logo {
  font-size: 24px;
  display: flex;
  align-items: center;
  color: white;
}

.c-footer-logo img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
